<center>
<% if current_user %>
<h2>Welcome <%= current_user.username %> </h2>
<button type="button" class="btn btn-secondary">
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</button>
<% else%>
<button type="button" class="btn btn-secondary">
<%= link_to "Sign Up", new_user_registration_path%>
</button>
<button type="button" class="btn btn-secondary">
<%= link_to "Sign In", new_user_session_path%>
</button>
<% end %>
</center>




<h2><center> Home </center></h2>


<div class= "random_shop_collection"> 
<div class="scrollmenu">
<div class = "hozgrid">

    <% @item.each do |item| %>
        <div class = "ranitems">
        <center>
        <%= item.image_name %>
        </br> 
        $<%= item.cost %>
        </br>
        <%= image_tag(item.url, :size => "93x92") %>
        </br>
     
        <button type="button" class="btn btn-secondary">
        <%= link_to 'Expand', shop_path(item) %>
        </button>
        </center>
        </div>
        <% end %>
        </center>
        </div>

</div>
</div>
</div>


</div>


<h2 class="big_text"> Top Sellers </h2>

<div class= "top_sellers">  
    <div class = "grid">
    <% @pop.each do |item| %>
        <div class = "items">
        <center>
        <%= item.image_name %>
        </br>
        $<%= item.cost %>
        </br>
        <%= image_tag(item.url, :size => "93x92") %>
        </br>
        
        <button type="button" class="btn btn-secondary">
        <%= link_to 'Expand', shop_path(item) %>
        </button>
        </center>
    </div>
    <% end %>
    </div>
</div>




<center>
 <div id = "cart">
        <%= render 'carts/cart'%>
        </div> 
</center>