<div class = "shoppingCart">
<% @order_items.each do |item| %>

    
    <center>
    <%= image_tag(item.item.url, :size => "300x350") %>
    <div class = "cartText"><%= item.item.image_name %></div>
    <h5>$<%= item.item.cost %></h5>


   <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :product_id, :value => item.item.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Card "%>
        <%=  link_to "Remove Item", order_item_path(item), method: :delete, remote: true%>
 <% end %>

 <h4>Subtotal: <%= item.total %></h4>

<% end %>
</center>

</br>
<center>
<h3>Total of your whole Shopping Cart: $<%= current_order.subtotal %></h3>
</center>
</div>