<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image_name %>
    <%= form.text_field :image_name %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :men %>
    <%= form.check_box :men %>
  </div>

  <div class="field">
    <%= form.label :women %>
    <%= form.check_box :women %>
  </div>

  <div class="field">
    <%= form.label :kids %>
    <%= form.check_box :kids %>
  </div>

  <div class="field">
    <%= form.label :new_arrivals %>
    <%= form.check_box :new_arrivals %>
  </div>

  <div class="field">
    <%= form.label :date_added %>
    <%= form.datetime_select :date_added %>
  </div>

  <div class="field">
    <%= form.label :popularity %>
    <%= form.text_field :popularity %>
  </div>

  <div class="field">
    <%= form.label :saved %>
    <%= form.check_box :saved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
