<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Image name</th>
      <th>Cost</th>
      <th>Url</th>
      <th>Men</th>
      <th>Women</th>
      <th>Kids</th>
      <th>New arrivals</th>
      <th>Date added</th>
      <th>Popularity</th>
      <th>Saved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.image_name %></td>
        <td><%= item.cost %></td>
        <td><%= item.url %></td>
        <td><%= item.men %></td>
        <td><%= item.women %></td>
        <td><%= item.kids %></td>
        <td><%= item.new_arrivals %></td>
        <td><%= item.date_added %></td>
        <td><%= item.popularity %></td>
        <td><%= item.saved %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
